In [33]:
import pandas as pd
import sqlite3

# Criando a conexão com a Base Relacional SQLITE.
conexaoSqlite = sqlite3.connect('../../files/dataMirrors/empresas.db')
empresas = pd.read_sql_query("SELECT * FROM Empresas", conexaoSqlite)

#empresas = pd.read_csv('../../files/spreadsheets/empresas.csv',sep=";")
empresasCalc = pd.read_csv('../../files/spreadsheets/empresasCalc.csv',sep=";")

In [47]:
dt_empresas = empresas.join(empresasCalc.set_index("cd_cnpj"), on="cd_cnpj")

In [48]:
# Consulta para verificar
# dt_empresas.query("cd_cnpj == 7297742000170")
dt_empresas = dt_empresas.drop(columns=['index'])

dt_empresas.fillna(0, inplace=True)

dt_empresas.to_csv("../../files/dataMirrors/extract_empresas.csv", sep=";", index=False)

In [45]:
dt_empresas.head(5)

,cd_cnpj,fl_matriz,dt_abertura,nm_razao_social,cd_natureza_juridica,de_natureza_juridica,nm_logradouro,nu_logradouro,cd_cep,nm_bairro,...,vl_latitude,vl_longitude,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,fl_optante_simples,qt_filial,fl_optante_simei,de_saude_tributaria,de_nivel_atividade
0,12305448000100,1,7/30/2010,GIOVANNA SOUZA DE LIMA DATE MEI,2135,EMPRESARIO INDIVIDUAL,ALAMEDA DAS ANDORINHAS CONDOMINIO ARUA ACAMPAR,59,04880230,RECANTO CAMPO BELO,...,"-23,5505199","-46,6333094",0,0.0,0.0,1,0.0,1,VERDE,MEDIA
1,14180365000150,1,8/24/2011,NETO JUNIOR REPRESENTACOES COMERCIAIS LTDA ME,2062,SOCIEDADE EMPRESARIA LIMITADA,RUA DO CRUZEIRO,495,45604620,JOAO SOARES,...,"-14,7809311","-39,2636",0,0.0,0.0,0,0.0,0,AMARELO,MEDIA
2,1144533000100,1,4/4/1996,T P V CONSTRUCOES ELETRICAS LTDA,2062,SOCIEDADE EMPRESARIA LIMITADA,RUA VITOR DE QUEIROZ MATOS,105,03263010,PARQUE SAO LUCAS,...,"-23,5907593","-46,5486725",0,0.0,0.0,0,0.0,0,0,INATIVA
3,1911869000150,1,5/6/1997,LUIZA DE FATIMA CAMPOS DE SOUZA,2135,EMPRESARIO INDIVIDUAL,RUA ANTONIO GALDINO MARCA,167,36660000,VILA CAXIAS,...,"-21,8833835","-42,6985095",0,0.0,0.0,0,0.0,0,0,INATIVA
4,243955000170,1,10/14/1994,E C PINTO PRADO & CIA LTDA,2062,SOCIEDADE EMPRESARIA LIMITADA,RUA PORTAO DA PIEDADE,155,40070045,BARRIS,...,"-12,9830488","-38,5136913",0,0.0,0.0,0,0.0,0,0,INATIVA